<!-- prettier-ignore  -->
{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- Preloader Area -->
<div id="preloader">
	<i class="circle-preloader"></i>
	<img src="{% static 'img/core-img/pizza.png' %}" alt="" />
</div>
<!-- ##### Preloader Area End #####-->

<!-- prettier-ignore  -->
{% include 'partials/_busca.html' %} 
{% include 'partials/_menu.html' %}

<!-- Contact Form Area -->
<div class="contact-area section-padding-0-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-heading">
					<h2>Login</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="contact-form-area">
					<form action="{% url 'login' %}" method="POST">
						{% csrf_token %}
						<div class="row">
							<div class="col-12 col-lg-12 text-center">
								<label for="email" class="label-custom"><b>Email</b></label>
								<div class="d-flex justify-content-center">
									<input
										type="text"
										id="email"
										class="form-control"
										name="email"
										placeholder="Entre com o email cadastrado"
										required
										autofocus
									/>
								</div>
							</div>
							<div class="col-12 col-lg-12 text-center">
								<label for="senha" class="label-custom"><b>Senha</b></label>
								<div class="d-flex justify-content-center">
									<input
										id="senha"
										type="password"
										class="form-control"
										name="senha"
										placeholder="Digite aqui sua senha"
										required
									/>
								</div>
							</div>
							<div class="col-12 text-center mt-1">
								<button class="btn btn-success mr-1" type="submit">
									Entrar
								</button>

								<button
									type="button"
									class="btn btn-primary ml-1"
									onclick="exibirCriarConta()"
								>
									Criar nova conta
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ##### Contact Form Area End ##### -->

<!-- Scripts Area -->
<script>
	function exibirCriarConta() {
		location.href = "{% url 'cadastro' %}";
	}
</script>
<!-- ##### Scripts Area End ##### -->

<!-- prettier-ignore  -->
<!-- include 'partials/_footer.html'  -->

{% endblock %}
