<!-- prettier-ignore  -->
{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- Preloader Area -->
<div id="preloader">
	<i class="circle-preloader"></i>
	<img src="{% static 'img/core-img/pizza.png' %}" alt="" />
</div>
<!-- ##### Preloader Area End #####-->

<!-- prettier-ignore  -->
{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- Best Receipe Area -->
<section class="best-receipe-area">
	<div class="container">
		<div class="row">
			<!-- prettier-ignore  -->
			{% if receitas %} 
			{% for receita in receitas %}
			<!-- Single Best Receipe Area -->
			<div class="col-12 col-sm-6 col-lg-4">
				<div class="single-best-receipe-area mb-30">
					{% if receita.foto_receita == '' %}
					<img src="{% static 'img/bg-img/foto_receita.jpg' %}" alt="" />
					{% else %}
					<img src="{{ receita.foto_receita.url }}" alt="" />
					{% endif %}
					<div class="receipe-content">
						<a href="{% url 'receita' receita.id %}">
							<h5>{{ receita.nome_receita }}</h5>
						</a>
					</div>
				</div>
			</div>
			<!-- ##### Single Best Receipe Area End ##### -->

			<!-- prettier-ignore  -->
			{% endfor %} 
			{% else %} 
			{% endif %}
		</div>
	</div>
</section>
<!-- ##### Best Receipe Area End ##### -->

<!-- prettier-ignore  -->
{% include 'partials/_footer.html' %} 

{% endblock %}
